body {
  font-family: sans-serif;
  margin: 0;
  user-select: none;
  overflow-x: hidden;
}

.screen-info {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;
  color: #523b43;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 orange;
  display: grid;
  place-items: center;
}

.screen-info::after {
  display: block;
  box-shadow: 1px 1px 4px black, -1px 1px 4px #999, 1px -1px 4px #999,
    -1px -1px 4px #999;
  text-align: center;
  border-radius: 4px;
  background-color: #ffebd2;
  padding: 20px;
  width: 200px;
  content: attr(data-screen);
}

.screen-info.displayed {
  animation: showIt 0.8s linear 0.2s;
}

header,
section,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

header,
footer {
  background-color: #6a0000;
  color: white;
}

section:nth-of-type(1) {
  background-color: #29aa4e;
  color: white;
}

section:nth-of-type(2) {
  background-color: #42a4bf;
  color: white;
}

section:nth-of-type(3) {
  background-color: #eebf27;
  color: white;
}

@keyframes showIt {
  10% {
    visibility: visible;
    opacity: 1;
  }
  90% {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
