section:nth-of-type(1),
section:nth-of-type(2),
section:nth-of-type(3) {
  flex: 1 1 130px;
}

section:nth-of-type(3) {
  order: -1;
}

header {
  order: -2;
}

section:nth-of-type(1)::after {
  content: "\00a0- centré en lg";
}

section:nth-of-type(2)::after {
  content: "\00a0- à droite en lg";
}
